nav{
    font-family: 'Roboto';
    font-size: 18pt;
    text-decoration-color: #ffffff;
    width: 100%;
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
    display: flex;
        justify-content: center;
        align-items: center;
}
li{
    display: inline-block;
    background-color:red;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
li:hover{
    display: inline-block;
    background-color: rgb(110, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
li:active{
    display: inline-block;
    background-color: #781c1c;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
footer{
    background-color: #ffffff;
    padding: 50px;
    margin-top: 150px;
    position: relative;
        right: 0;
        left: 0;

}
h1{
    font-family: 'Roboto';
    font-weight: bolder;
    color: white;
    background-color: #ff0000;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
p{
    font-family:'Roboto';
    color: rgb(255, 255, 255);
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
body {
    background-image: url('imagenes/fondo.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
}
button{
    display: inline-block;
    background-color:red;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
label{
    font-family: 'Roboto';
    padding: 40px;
    border-radius: 10px;
    margin: 30px;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}
h5{
    font-family: 'Roboto';
}